.friendListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}

.selected,
.friendListItem li:hover {
  background-color: #fcead3;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.button {
  background-color: #ff922b;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  color: #343a40;
  cursor: pointer;
}
