.add-friend-form {
  display: grid;
  text-align: left;
  grid-template-columns: 0.8fr 1fr;
  padding: 10px;
  margin-top: 10px;
}

.add-friend-form input {
  padding: 4px;
  outline: none;
  font-size: 16px;
  width: 100%;
}

form .button {
  margin-top: 0.6rem;
  grid-column: 2;
  background-color: #ff922b;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  color: #343a40;
  cursor: pointer;
}
