.friendList {
  width: 40rem;
  border-radius: 8px;
}

.friendList ul {
  list-style: none;
  overflow: auto;
}

.message {
  font-size: 1.3rem;
  font-weight: 600;
}

.button {
  background-color: #ff922b;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  color: #343a40;
  cursor: pointer;
}

.align {
  text-align: right;
  margin: 20px 0px;
}

@media screen and (max-width: 950px) {
  .friendList {
    margin: 10px;
    min-height: auto;
  }
}
