.split-bills {
  border-radius: 8px;
  background-color: #fff4e6;
  padding: 32px;
  width: 480px;
}

.split-bills h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 2.6rem;
  text-align: center;
}

.split-bills-form {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 12rem;
  padding: 10px;
}

.split-bills-form input {
  padding: 4px;
  outline: none;
  font-size: 16px;
  width: 100%;
}

form .button {
  margin-top: 0.6rem;
  grid-column: 2;
  background-color: #ff922b;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  color: #343a40;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .split-bills {
    margin: 10px;
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .split-bills {
    margin: 10px;
    padding: 16px;
    width: 100%;
  }

  .split-bills h2 {
    font-size: 2rem;
  }

  .split-bills-form {
    grid-template-columns: 1fr;
    row-gap: 12px;
    padding: 0;
  }

  .split-bills-form label {
    font-size: 16px;
  }

  .split-bills-form input,
  .split-bills-form select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }

  form .button {
    grid-column: 1;
    width: 100%;
    margin-top: 12px;
  }
}
