:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 4.5rem;
}

form {
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--color-lightest);
  border-radius: 7px;
}

label {
  font-weight: 500;
}

label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

input,
select {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid transparent;
}

@media screen and (max-width: 750px) {
  .container {
    margin: 10px;
    gap: 0px;
  }
}
